# remove all png and pdf
*.png
*.pdf

# dont track pycache
__pycache__/
*.py[cod]

Acetylcholine.py
test.spectra_Choline.py
test.spectra_Ethanolamine.py
test.spectra_Methanol.py
test.spectra_water.py
EtA_H2O_MeOH_simulation2_with_spectra.ipynb
Choline_EtA_H2O_Choline_comp.py
Choline_Irr.py
Choline_Irr_ZOOM.py
